/*========================================================== 
CSS Indexing
=> Slider CSS
============================================================*/
#j-slider{
    position: relative; 
}
#j-slider #particles-js{
    display:none;
}
#j-slider .single-slider {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 580px;
    position:relative;
}
#j-slider .aws-slide-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}
#j-slider .slide-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height:550px;
}
#j-slider .slide-text.left{
    text-align:left;
    padding:0 300px 0 0;
}
#j-slider .slide-text.center{
    text-align:center;
    padding: 0 100px;
}
#j-slider .slide-text.right{
    text-align:right;
    padding:0 0 0 300px;
}
#j-slider .slide-text h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 20px;
}
#j-slider .slide-text span {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    font-weight: 400;
    text-transform: uppercase;
}
#j-slider .slide-text p{
    font-size:16px;
    margin-bottom:20px;
    color: #fff;
}
#j-slider .slide-button .button {
    border-radius: 0px;
    color: #fff;
    margin-right: 10px;
    margin: 0 10px 0 0;
    border-radius: 20px 0px 20px 0;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    border:1px solid #e2e2e2;
    background:transparent;
}
#j-slider .slide-button .button:hover,
#j-slider .slide-button .button.primary{
    border-color:transparent;
}
#j-slider .slide-button .button:last-child{
    margin-right:0px;
}
#j-slider .slide-button .button.primary,
#j-slider .slide-button .button:before{
	background:#F2784B;
}
#j-slider .owl-nav div:hover,
#team .owl-nav div:hover{
	background:#F2784B;
}
#j-slider .owl-dots .owl-dot span,
#team .owl-dots .owl-dot span{
	background: #F2784B;
}
#j-slider .owl-dots .owl-dot:hover span,
#team .owl-dots .owl-dot:hover span{
	background:#F2784B;
}
#j-slider .owl-dots .owl-dot.active span,
#team .owl-dots .owl-dot.active span{
	background:#F2784B;
}
#j-slider .owl-dots{
    position: absolute;
    margin-top: -10px;
    left: 50%;
    margin-left:-15px;
    bottom: 70px;
}
#j-slider .owl-dots .owl-dot{
    display: inline-block;
    margin-bottom: 10px;
}
#j-slider .owl-dots .owl-dot span{
    width: 5px;
    height: 15px;
    display: block;
    border-radius: 15px;
    margin: 0px 7px;
}
#j-slider .owl-dots .owl-dot:hover span{
    border-color:transparent;
} 
#j-slider .owl-dots .owl-dot.active span{
    border-color:transparent;
    height: 25px;
}
#j-slider .owl-nav div,
#team .owl-nav div{
    position: absolute;
    top: 50%;
    background: transparent;
    color: #fff;
    border: 1px solid #ddd;
    width: 42px;
    height: 42px;
    line-height: 42px;
    padding: 0;
    font-size: 18px;
    border-radius:0px;
    opacity: 0.5;
    margin: -18px 0 0;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.13);
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
#team .owl-nav div{
	border: 1px solid #F2784B;
	color: #F2784B;
	transition: 0.5s;
	-webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
#j-slider .owl-nav div:hover,
#team .owl-nav div:hover{
    border-color:transparent;
    opacity:1;
    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    transition:all 0.4s ease;
}
#j-slider .owl-nav .owl-prev{
    left: 0px;
}
#team .owl-nav .owl-prev{
    left: -50px;
}
#j-slider .owl-nav .owl-next{
    right:0;
}
#team .owl-nav .owl-next{
	right: -50px;
}
#team .owl-nav div.owl-prev:hover i,
#team .owl-nav div.owl-next:hover i{
	color: #fff;
}
#j-slider.static .slide-text p{
    padding:0 100px;
}
#j-slider .slide-text h1{
    animation: fadeIn 0.6s both 0.6s;
}
#j-slider .slide-text p{
    animation: fadeIn 0.8s both 0.8s;
}
#j-slider .slide-text .button{
    animation: fadeIn 1s both 1s;
}